.contenedor {
    background-color: aqua;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 18fr 2fr;
    grid-template-areas: "header  header  header"
                         "side1 contenido side2"
                         "footer footer footer";
}                           
.contenedor>div
{
    background-color: chartreuse;
}
.contenedor .header{
    background-color: yellow;
    /*grid-column: header;*/
    grid-column-start: header;
    grid-column-end: header;
}
.contenedor .side1{
    background-color: bisque;
    grid-column: side1;
}
.contenedor .contenido
 {
     background-color: beige;
     grid-column: contenido;
 }
 .contenedor .side2 
 {
     background-color: bisque;
     grid-column: side2;
 }
 .contenedor .footer 
 {
     background-color: chocolate;
     grid-column: footer;
 }